In [44]:
import pandas as pd

In [45]:
df = pd.read_csv('human.csv', encoding='cp949')
df.head()

,아이디,나이,노동 계급,fnlwgt,학력,교육 수,혼인 상태,직업,관계,인종,성별,자본 이득,자본 손실,주당 시간,모국
0,H20001,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,H20002,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,H20003,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,H20004,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,H20005,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

In [46]:
mdf = df.copy()

In [47]:
mdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   아이디     32561 non-null  object
 1   나이      32561 non-null  int64
 2   노동 계급   30725 non-null  object
 3   fnlwgt  32561 non-null  int64
 4   학력      32561 non-null  object
 5   교육 수    32561 non-null  int64
 6   혼인 상태   32561 non-null  object
 7   직업      30718 non-null  object
 8   관계      32561 non-null  object
 9   인종      32561 non-null  object
 10  성별      32561 non-null  object
 11  자본 이득   32561 non-null  int64
 12  자본 손실   32561 non-null  int64
 13  주당 시간   32561 non-null  int64
 14  모국      31978 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [48]:
mdf.isnull().sum()

아이디          0
나이           0
노동 계급     1836
fnlwgt       0
학력           0
교육 수         0
혼인 상태        0
직업        1843
관계           0
인종           0
성별           0
자본 이득        0
자본 손실        0
주당 시간        0
모국         583
dtype: int64

In [49]:
# 결측치 처리
mdf = mdf.dropna(subset=['노동 계급', '직업', '모국'])
mdf.shape

(30162, 15)

In [50]:
obj = ['노동 계급', '학력', '혼인 상태', '직업', '관계', '인종', '성별', '모국']
mdf[obj] = mdf[obj].apply(lambda x: x.astype('category').cat.codes)
mdf.head()

,아이디,나이,노동 계급,fnlwgt,학력,교육 수,혼인 상태,직업,관계,인종,성별,자본 이득,자본 손실,주당 시간,모국
0,H20001,39,5,77516,9,13,4,0,1,4,1,2174,0,40,38
1,H20002,50,4,83311,9,13,2,3,0,4,1,0,0,13,38
2,H20003,38,2,215646,11,9,0,5,1,4,1,0,0,40,38
3,H20004,53,2,234721,1,7,2,5,0,2,1,0,0,40,38
4,H20005,28,2,338409,9,13,2,9,5,2,0,0,0,40,4

In [51]:
from sklearn.model_selection import train_test_split  
X = mdf.drop(['아이디','성별'], axis=1) 
Y = mdf['성별']                    
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=0)

In [52]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(max_depth=6, random_state=0)

In [53]:
tree.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=6, random_state=0)

In [54]:
display(tree.score(X_test, y_test))

0.8318525394510012

In [55]:
import xgboost as xgb
from xgboost import plot_importance
#import pan
import numpy as np

In [56]:
dtrain = xgb.DMatrix(data=X_train, label=y_train)
dtest = xgb.DMatrix(data=X_test, label=y_test)

In [57]:
params = {'max_depth':3,
          'eta':0.1,
          'objective':'binary:logistic',
          'eval_metric':'logloss',
          'early_stoppings':100
         }
num_rounds = 400

In [58]:
# train 데이터 세트는 'train', evaluation(test) 데이터 세트는 'eval'로 명기
wlist = [(dtrain, 'train'),(dtest, 'eval')]
# 하이퍼 파라미터와 early stoppinig 파라미터를 train() 함수의 파라미터로 전달
xgb_model = xgb.train(params=params, dtrain=dtrain, num_boost_round=num_rounds, evals=wlist)

[10:53:17] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:541:
Parameters: { early_stoppings } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-logloss:0.64407	eval-logloss:0.64343
[1]	train-logloss:0.60392	eval-logloss:0.60275
[2]	train-logloss:0.57052	eval-logloss:0.56893
[3]	train-logloss:0.54238	eval-logloss:0.54045
[4]	train-logloss:0.51846	eval-logloss:0.51623
[5]	train-logloss:0.49796	eval-logloss:0.49548
[6]	train-logloss:0.48012	eval-logloss:0.47721
[7]	train-logloss:0.46453	eval-logloss:0.46123
[8]	train-logloss:0.45088	eval-logloss:0.44734
[9]	train-logloss:0.43884	eval-logloss:0.43489
[10]	train-logloss:0.42637	eval-logloss:0.42244
[11]	train-logloss:0.41556	eval-logloss:0.41164
[12]	train-logloss:0.40673	eval-logloss:0.40275
[13]	train-logloss:0.39803	eval-logloss:0.39406
[14]	train-logloss:0.39082	eval-logloss:0.38666
[15]	train-logloss:0.38442	eval-logloss:0.38016
[16]	train-logloss:0.37784	eval-logloss:0.37362
[17]	train-logloss:0.37257	eval-logloss:0.36832
[18]	train-logloss:0.36777	eval-logloss:0.36343
[19]	train-logloss:0.36279	eval-logloss:0.35853
[20]	train-logloss:0.35886	eval-logloss:0.35451
[21]	train-logloss:0.35522	eval-logloss:0.35087
[22]	train-logloss:0.35141	eval-logloss:0.34711
[23]	train-logloss:0.34836	eval-logloss:0.34402
[24]	train-logloss:0.34556	eval-logloss:0.34119
[25]	train-logloss:0.34283	eval-logloss:0.33849
[26]	train-logloss:0.33999	eval-logloss:0.33573
[27]	train-logloss:0.33775	eval-logloss:0.33343
[28]	train-logloss:0.33572	eval-logloss:0.33141
[29]	train-logloss:0.33350	eval-logloss:0.32931
[30]	train-logloss:0.33174	eval-logloss:0.32750
[31]	train-logloss:0.32995	eval-logloss:0.32574
[32]	train-logloss:0.32819	eval-logloss:0.32417
[33]	train-logloss:0.32681	eval-logloss:0.32282
[34]	train-logloss:0.32546	eval-logloss:0.32149
[35]	train-logloss:0.32428	eval-logloss:0.32041
[36]	train-logloss:0.32305	eval-logloss:0.31927
[37]	train-logloss:0.32184	eval-logloss:0.31813
[38]	train-logloss:0.32088	eval-logloss:0.31720
[39]	train-logloss:0.31985	eval-logloss:0.31619
[40]	train-logloss:0.31901	eval-logloss:0.31533
[41]	train-logloss:0.31809	eval-logloss:0.31441
[42]	train-logloss:0.31699	eval-logloss:0.31343
[43]	train-logloss:0.31607	eval-logloss:0.31258
[44]	train-logloss:0.31459	eval-logloss:0.31122
[45]	train-logloss:0.31381	eval-logloss:0.31050
[46]	train-logloss:0.31319	eval-logloss:0.30994
[47]	train-logloss:0.31204	eval-logloss:0.30888
[48]	train-logloss:0.31138	eval-logloss:0.30827
[49]	train-logloss:0.31086	eval-logloss:0.30787
[50]	train-logloss:0.31005	eval-logloss:0.30713
[51]	train-logloss:0.30932	eval-logloss:0.30651
[52]	train-logloss:0.30871	eval-logloss:0.30596
[53]	train-logloss:0.30816	eval-logloss:0.30545
[54]	train-logloss:0.30750	eval-logloss:0.30482
[55]	train-logloss:0.30609	eval-logloss:0.30345
[56]	train-logloss:0.30561	eval-logloss:0.30303
[57]	train-logloss:0.30520	eval-logloss:0.30274
[58]	train-logloss:0.30462	eval-logloss:0.30224
[59]	train-logloss:0.30378	eval-logloss:0.30152
[60]	train-logloss:0.30337	eval-logloss:0.30119
[61]	train-logloss:0.30305	eval-logloss:0.30086
[62]	train-logloss:0.30271	eval-logloss:0.30055
[63]	train-logloss:0.30198	eval-logloss:0.29990
[64]	train-logloss:0.30145	eval-logloss:0.29951
[65]	train-logloss:0.30111	eval-logloss:0.29926
[66]	train-logloss:0.29963	eval-logloss:0.29787
[67]	train-logloss:0.29938	eval-logloss:0.29769
[68]	train-logloss:0.29910	eval-logloss:0.29744
[69]	train-logloss:0.29866	eval-logloss:0.29702
[70]	train-logloss:0.29820	eval-logloss:0.29665
[71]	train-logloss:0.29763	eval-logloss:0.29615
[72]	train-logloss:0.29732	eval-logloss:0.29584
[73]	train-logloss:0.29673	eval-logloss:0.29537
[74]	train-logloss:0.29647	eval-logloss:0.29509
[75]	train-logloss:0.29625	eval-logloss:0.29490
[76]	train-logloss:0.29579	eval-logloss:0.29451
[77]	train-logloss:0.29543	eval-logloss:0.29421
[78]	train-logloss:0.29520	eval-logloss:0.29395
[79]	train-logloss:0.29491	eval-logloss:0.29372
[80]	train-logloss:0.29467	eval-logloss:0.29353
[81]	train-logloss:0.29428	eval-logloss:0.29326
[82]	train-logloss:0.29408	eval-logloss:0.29316
[83]	train-logloss:0.29317	eval-logloss:0.29219
[84]	train-logloss:0.29294	eval-logloss:0.29193
[85]	train-logloss:0.29216	eval-logloss:0.29118
[86]	train-logloss:0.29198	eval-logloss:0.29105
[87]	train-logloss:0.29182	eval-logloss:0.29098
[88]	train-logloss:0.29163	eval-logloss:0.29079
[89]	train-logloss:0.29144	eval-logloss:0.29057
[90]	train-logloss:0.29079	eval-logloss:0.28999
[91]	train-logloss:0.29051	eval-logloss:0.28980
[92]	train-logloss:0.29034	eval-logloss:0.28966
[93]	train-logloss:0.29023	eval-logloss:0.28962
[94]	train-logloss:0.28993	eval-logloss:0.28938
[95]	train-logloss:0.28953	eval-logloss:0.28895
[96]	train-logloss:0.28934	eval-logloss:0.28879
[97]	train-logloss:0.28905	eval-logloss:0.28860
[98]	train-logloss:0.28883	eval-logloss:0.28834
[99]	train-logloss:0.28869	eval-logloss:0.28825
[100]	train-logloss:0.28857	eval-logloss:0.28824
[101]	train-logloss:0.28845	eval-logloss:0.28816
[102]	train-logloss:0.28836	eval-logloss:0.28810
[103]	train-logloss:0.28802	eval-logloss:0.28782
[104]	train-logloss:0.28782	eval-logloss:0.28772
[105]	train-logloss:0.28770	eval-logloss:0.28761
[106]	train-logloss:0.28760	eval-logloss:0.28763
[107]	train-logloss:0.28734	eval-logloss:0.28751
[108]	train-logloss:0.28719	eval-logloss:0.28748
[109]	train-logloss:0.28691	eval-logloss:0.28728
[110]	train-logloss:0.28679	eval-logloss:0.28728
[111]	train-logloss:0.28669	eval-logloss:0.28718
[112]	train-logloss:0.28658	eval-logloss:0.28709
[113]	train-logloss:0.28649	eval-logloss:0.28704
[114]	train-logloss:0.28641	eval-logloss:0.28702
[115]	train-logloss:0.28621	eval-logloss:0.28684
[116]	train-logloss:0.28596	eval-logloss:0.28655
[117]	train-logloss:0.28560	eval-logloss:0.28628
[118]	train-logloss:0.28545	eval-logloss:0.28620
[119]	train-logloss:0.28536	eval-logloss:0.28610
[120]	train-logloss:0.28514	eval-logloss:0.28596
[121]	train-logloss:0.28504	eval-logloss:0.28595
[122]	train-logloss:0.28488	eval-logloss:0.28581
[123]	train-logloss:0.28477	eval-logloss:0.28581
[124]	train-logloss:0.28455	eval-logloss:0.28557
[125]	train-logloss:0.28447	eval-logloss:0.28557
[126]	train-logloss:0.28437	eval-logloss:0.28552
[127]	train-logloss:0.28405	eval-logloss:0.28520
[128]	train-logloss:0.28387	eval-logloss:0.28509
[129]	train-logloss:0.28377	eval-logloss:0.28510
[130]	train-logloss:0.28358	eval-logloss:0.28497
[131]	train-logloss:0.28349	eval-logloss:0.28497
[132]	train-logloss:0.28344	eval-logloss:0.28494
[133]	train-logloss:0.28328	eval-logloss:0.28489
[134]	train-logloss:0.28311	eval-logloss:0.28480
[135]	train-logloss:0.28303	eval-logloss:0.28482
[136]	train-logloss:0.28296	eval-logloss:0.28476
[137]	train-logloss:0.28287	eval-logloss:0.28469
[138]	train-logloss:0.28262	eval-logloss:0.28446
[139]	train-logloss:0.28244	eval-logloss:0.28433
[140]	train-logloss:0.28230	eval-logloss:0.28424
[141]	train-logloss:0.28222	eval-logloss:0.28423
[142]	train-logloss:0.28218	eval-logloss:0.28419
[143]	train-logloss:0.28210	eval-logloss:0.28418
[144]	train-logloss:0.28196	eval-logloss:0.28424
[145]	train-logloss:0.28183	eval-logloss:0.28415
[146]	train-logloss:0.28179	eval-logloss:0.28414
[147]	train-logloss:0.28172	eval-logloss:0.28414
[148]	train-logloss:0.28153	eval-logloss:0.28399
[149]	train-logloss:0.28138	eval-logloss:0.28388
[150]	train-logloss:0.28122	eval-logloss:0.28381
[151]	train-logloss:0.28114	eval-logloss:0.28387
[152]	train-logloss:0.28108	eval-logloss:0.28383
[153]	train-logloss:0.28099	eval-logloss:0.28379
[154]	train-logloss:0.28080	eval-logloss:0.28360
[155]	train-logloss:0.28040	eval-logloss:0.28330
[156]	train-logloss:0.28031	eval-logloss:0.28334
[157]	train-logloss:0.28028	eval-logloss:0.28334
[158]	train-logloss:0.28021	eval-logloss:0.28335
[159]	train-logloss:0.28007	eval-logloss:0.28339
[160]	train-logloss:0.27990	eval-logloss:0.28319
[161]	train-logloss:0.27980	eval-logloss:0.28319

[162]	train-logloss:0.27976	eval-logloss:0.28319
[163]	train-logloss:0.27955	eval-logloss:0.28304
[164]	train-logloss:0.27935	eval-logloss:0.28295
[165]	train-logloss:0.27921	eval-logloss:0.28287
[166]	train-logloss:0.27909	eval-logloss:0.28294
[167]	train-logloss:0.27899	eval-logloss:0.28298
[168]	train-logloss:0.27896	eval-logloss:0.28297
[169]	train-logloss:0.27888	eval-logloss:0.28295
[170]	train-logloss:0.27884	eval-logloss:0.28299
[171]	train-logloss:0.27852	eval-logloss:0.28272
[172]	train-logloss:0.27838	eval-logloss:0.28274
[173]	train-logloss:0.27824	eval-logloss:0.28260
[174]	train-logloss:0.27801	eval-logloss:0.28264
[175]	train-logloss:0.27786	eval-logloss:0.28259
[176]	train-logloss:0.27783	eval-logloss:0.28260
[177]	train-logloss:0.27780	eval-logloss:0.28262
[178]	train-logloss:0.27766	eval-logloss:0.28262
[179]	train-logloss:0.27752	eval-logloss:0.28253
[180]	train-logloss:0.27722	eval-logloss:0.28228
[181]	train-logloss:0.27713	eval-logloss:0.28223
[182]	train-logloss:0.27703	eval-logloss:0.28228
[183]	train-logloss:0.27701	eval-logloss:0.28228
[184]	train-logloss:0.27695	eval-logloss:0.28230
[185]	train-logloss:0.27672	eval-logloss:0.28209
[186]	train-logloss:0.27660	eval-logloss:0.28204
[187]	train-logloss:0.27642	eval-logloss:0.28210
[188]	train-logloss:0.27637	eval-logloss:0.28211
[189]	train-logloss:0.27630	eval-logloss:0.28203
[190]	train-logloss:0.27619	eval-logloss:0.28200
[191]	train-logloss:0.27615	eval-logloss:0.28200
[192]	train-logloss:0.27607	eval-logloss:0.28200
[193]	train-logloss:0.27594	eval-logloss:0.28191
[194]	train-logloss:0.27583	eval-logloss:0.28187
[195]	train-logloss:0.27577	eval-logloss:0.28183
[196]	train-logloss:0.27575	eval-logloss:0.28186
[197]	train-logloss:0.27573	eval-logloss:0.28187
[198]	train-logloss:0.27565	eval-logloss:0.28188
[199]	train-logloss:0.27553	eval-logloss:0.28188
[200]	train-logloss:0.27544	eval-logloss:0.28184
[201]	train-logloss:0.27535	eval-logloss:0.28185
[202]	train-logloss:0.27520	eval-logloss:0.28174
[203]	train-logloss:0.27517	eval-logloss:0.28171
[204]	train-logloss:0.27511	eval-logloss:0.28165
[205]	train-logloss:0.27494	eval-logloss:0.28160
[206]	train-logloss:0.27485	eval-logloss:0.28160
[207]	train-logloss:0.27473	eval-logloss:0.28152
[208]	train-logloss:0.27470	eval-logloss:0.28153
[209]	train-logloss:0.27464	eval-logloss:0.28153
[210]	train-logloss:0.27458	eval-logloss:0.28156
[211]	train-logloss:0.27452	eval-logloss:0.28155
[212]	train-logloss:0.27447	eval-logloss:0.28155
[213]	train-logloss:0.27434	eval-logloss:0.28158
[214]	train-logloss:0.27419	eval-logloss:0.28153
[215]	train-logloss:0.27407	eval-logloss:0.28158
[216]	train-logloss:0.27393	eval-logloss:0.28153
[217]	train-logloss:0.27369	eval-logloss:0.28131
[218]	train-logloss:0.27364	eval-logloss:0.28125
[219]	train-logloss:0.27351	eval-logloss:0.28122
[220]	train-logloss:0.27334	eval-logloss:0.28111
[221]	train-logloss:0.27330	eval-logloss:0.28115
[222]	train-logloss:0.27325	eval-logloss:0.28116
[223]	train-logloss:0.27322	eval-logloss:0.28116
[224]	train-logloss:0.27316	eval-logloss:0.28124
[225]	train-logloss:0.27306	eval-logloss:0.28123
[226]	train-logloss:0.27293	eval-logloss:0.28118
[227]	train-logloss:0.27279	eval-logloss:0.28107
[228]	train-logloss:0.27268	eval-logloss:0.28107
[229]	train-logloss:0.27259	eval-logloss:0.28105
[230]	train-logloss:0.27255	eval-logloss:0.28099
[231]	train-logloss:0.27242	eval-logloss:0.28101
[232]	train-logloss:0.27238	eval-logloss:0.28098
[233]	train-logloss:0.27236	eval-logloss:0.28100
[234]	train-logloss:0.27230	eval-logloss:0.28096
[235]	train-logloss:0.27216	eval-logloss:0.28091
[236]	train-logloss:0.27206	eval-logloss:0.28095
[237]	train-logloss:0.27199	eval-logloss:0.28092
[238]	train-logloss:0.27196	eval-logloss:0.28094
[239]	train-logloss:0.27183	eval-logloss:0.28098
[240]	train-logloss:0.27175	eval-logloss:0.28093
[241]	train-logloss:0.27170	eval-logloss:0.28096
[242]	train-logloss:0.27167	eval-logloss:0.28098
[243]	train-logloss:0.27161	eval-logloss:0.28098
[244]	train-logloss:0.27153	eval-logloss:0.28092
[245]	train-logloss:0.27146	eval-logloss:0.28091
[246]	train-logloss:0.27127	eval-logloss:0.28080
[247]	train-logloss:0.27119	eval-logloss:0.28081
[248]	train-logloss:0.27109	eval-logloss:0.28082
[249]	train-logloss:0.27104	eval-logloss:0.28086
[250]	train-logloss:0.27093	eval-logloss:0.28085
[251]	train-logloss:0.27085	eval-logloss:0.28087
[252]	train-logloss:0.27071	eval-logloss:0.28086
[253]	train-logloss:0.27069	eval-logloss:0.28088
[254]	train-logloss:0.27066	eval-logloss:0.28086
[255]	train-logloss:0.27064	eval-logloss:0.28087
[256]	train-logloss:0.27054	eval-logloss:0.28087
[257]	train-logloss:0.27045	eval-logloss:0.28084
[258]	train-logloss:0.27038	eval-logloss:0.28089
[259]	train-logloss:0.27027	eval-logloss:0.28081
[260]	train-logloss:0.27024	eval-logloss:0.28083
[261]	train-logloss:0.27010	eval-logloss:0.28070
[262]	train-logloss:0.26993	eval-logloss:0.28064
[263]	train-logloss:0.26985	eval-logloss:0.28063
[264]	train-logloss:0.26979	eval-logloss:0.28063
[265]	train-logloss:0.26976	eval-logloss:0.28063
[266]	train-logloss:0.26968	eval-logloss:0.28063
[267]	train-logloss:0.26965	eval-logloss:0.28065
[268]	train-logloss:0.26955	eval-logloss:0.28064
[269]	train-logloss:0.26948	eval-logloss:0.28062
[270]	train-logloss:0.26939	eval-logloss:0.28061
[271]	train-logloss:0.26931	eval-logloss:0.28067
[272]	train-logloss:0.26919	eval-logloss:0.28072
[273]	train-logloss:0.26913	eval-logloss:0.28073
[274]	train-logloss:0.26909	eval-logloss:0.28073
[275]	train-logloss:0.26902	eval-logloss:0.28071
[276]	train-logloss:0.26889	eval-logloss:0.28067
[277]	train-logloss:0.26881	eval-logloss:0.28064
[278]	train-logloss:0.26871	eval-logloss:0.28062
[279]	train-logloss:0.26861	eval-logloss:0.28059
[280]	train-logloss:0.26853	eval-logloss:0.28059
[281]	train-logloss:0.26850	eval-logloss:0.28058
[282]	train-logloss:0.26848	eval-logloss:0.28061
[283]	train-logloss:0.26840	eval-logloss:0.28060
[284]	train-logloss:0.26828	eval-logloss:0.28052
[285]	train-logloss:0.26822	eval-logloss:0.28054
[286]	train-logloss:0.26815	eval-logloss:0.28060
[287]	train-logloss:0.26806	eval-logloss:0.28064
[288]	train-logloss:0.26802	eval-logloss:0.28065
[289]	train-logloss:0.26790	eval-logloss:0.28064
[290]	train-logloss:0.26786	eval-logloss:0.28063
[291]	train-logloss:0.26778	eval-logloss:0.28059
[292]	train-logloss:0.26773	eval-logloss:0.28058
[293]	train-logloss:0.26767	eval-logloss:0.28058
[294]	train-logloss:0.26751	eval-logloss:0.28055
[295]	train-logloss:0.26739	eval-logloss:0.28049
[296]	train-logloss:0.26731	eval-logloss:0.28048
[297]	train-logloss:0.26727	eval-logloss:0.28049
[298]	train-logloss:0.26720	eval-logloss:0.28051
[299]	train-logloss:0.26712	eval-logloss:0.28053
[300]	train-logloss:0.26701	eval-logloss:0.28054
[301]	train-logloss:0.26699	eval-logloss:0.28053
[302]	train-logloss:0.26695	eval-logloss:0.28055
[303]	train-logloss:0.26686	eval-logloss:0.28056
[304]	train-logloss:0.26666	eval-logloss:0.28052
[305]	train-logloss:0.26658	eval-logloss:0.28044
[306]	train-logloss:0.26648	eval-logloss:0.28039
[307]	train-logloss:0.26641	eval-logloss:0.28038
[308]	train-logloss:0.26638	eval-logloss:0.28040
[309]	train-logloss:0.26636	eval-logloss:0.28037
[310]	train-logloss:0.26628	eval-logloss:0.28035
[311]	train-logloss:0.26617	eval-logloss:0.28032
[312]	train-logloss:0.26614	eval-logloss:0.28032
[313]	train-logloss:0.26606	eval-logloss:0.28032
[314]	train-logloss:0.26601	eval-logloss:0.28038
[315]	train-logloss:0.26589	eval-logloss:0.28036
[316]	train-logloss:0.26588	eval-logloss:0.28036
[317]	train-logloss:0.26582	eval-logloss:0.28042
[318]	train-logloss:0.26573	eval-logloss:0.28036
[319]	train-logloss:0.26570	eval-logloss:0.28036
[320]	train-logloss:0.26564	eval-logloss:0.28036
[321]	train-logloss:0.26558	eval-logloss:0.28037
[322]	train-logloss:0.26549	eval-logloss:0.28037
[323]	train-logloss:0.26536	eval-logloss:0.28036
[324]	train-logloss:0.26526	eval-logloss:0.28034
[325]	train-logloss:0.26516	eval-logloss:0.28032
[326]	train-logloss:0.26500	eval-logloss:0.28031
[327]	train-logloss:0.26493	eval-logloss:0.28024
[328]	train-logloss:0.26486	eval-logloss:0.28020
[329]	train-logloss:0.26474	eval-logloss:0.28015

[330]	train-logloss:0.26463	eval-logloss:0.28013
[331]	train-logloss:0.26454	eval-logloss:0.28006
[332]	train-logloss:0.26452	eval-logloss:0.28008
[333]	train-logloss:0.26446	eval-logloss:0.28003
[334]	train-logloss:0.26441	eval-logloss:0.28003
[335]	train-logloss:0.26437	eval-logloss:0.28007
[336]	train-logloss:0.26430	eval-logloss:0.28011
[337]	train-logloss:0.26427	eval-logloss:0.28014
[338]	train-logloss:0.26419	eval-logloss:0.28012
[339]	train-logloss:0.26412	eval-logloss:0.28010
[340]	train-logloss:0.26410	eval-logloss:0.28010
[341]	train-logloss:0.26403	eval-logloss:0.28012
[342]	train-logloss:0.26396	eval-logloss:0.28016
[343]	train-logloss:0.26389	eval-logloss:0.28012
[344]	train-logloss:0.26380	eval-logloss:0.28008
[345]	train-logloss:0.26373	eval-logloss:0.28013
[346]	train-logloss:0.26367	eval-logloss:0.28017
[347]	train-logloss:0.26362	eval-logloss:0.28018
[348]	train-logloss:0.26357	eval-logloss:0.28017
[349]	train-logloss:0.26356	eval-logloss:0.28018
[350]	train-logloss:0.26351	eval-logloss:0.28017
[351]	train-logloss:0.26345	eval-logloss:0.28019
[352]	train-logloss:0.26338	eval-logloss:0.28019
[353]	train-logloss:0.26335	eval-logloss:0.28024
[354]	train-logloss:0.26334	eval-logloss:0.28025
[355]	train-logloss:0.26328	eval-logloss:0.28023
[356]	train-logloss:0.26325	eval-logloss:0.28026
[357]	train-logloss:0.26318	eval-logloss:0.28025
[358]	train-logloss:0.26313	eval-logloss:0.28029
[359]	train-logloss:0.26311	eval-logloss:0.28032
[360]	train-logloss:0.26308	eval-logloss:0.28034
[361]	train-logloss:0.26298	eval-logloss:0.28034
[362]	train-logloss:0.26292	eval-logloss:0.28036
[363]	train-logloss:0.26289	eval-logloss:0.28040
[364]	train-logloss:0.26284	eval-logloss:0.28043
[365]	train-logloss:0.26272	eval-logloss:0.28037
[366]	train-logloss:0.26261	eval-logloss:0.28035
[367]	train-logloss:0.26260	eval-logloss:0.28035
[368]	train-logloss:0.26248	eval-logloss:0.28035
[369]	train-logloss:0.26237	eval-logloss:0.28035
[370]	train-logloss:0.26227	eval-logloss:0.28039
[371]	train-logloss:0.26218	eval-logloss:0.28037
[372]	train-logloss:0.26209	eval-logloss:0.28038
[373]	train-logloss:0.26204	eval-logloss:0.28038
[374]	train-logloss:0.26192	eval-logloss:0.28037
[375]	train-logloss:0.26188	eval-logloss:0.28037
[376]	train-logloss:0.26181	eval-logloss:0.28038
[377]	train-logloss:0.26180	eval-logloss:0.28039
[378]	train-logloss:0.26174	eval-logloss:0.28033
[379]	train-logloss:0.26161	eval-logloss:0.28024
[380]	train-logloss:0.26151	eval-logloss:0.28025
[381]	train-logloss:0.26145	eval-logloss:0.28027
[382]	train-logloss:0.26139	eval-logloss:0.28027
[383]	train-logloss:0.26127	eval-logloss:0.28025
[384]	train-logloss:0.26124	eval-logloss:0.28025
[385]	train-logloss:0.26121	eval-logloss:0.28028
[386]	train-logloss:0.26109	eval-logloss:0.28024
[387]	train-logloss:0.26099	eval-logloss:0.28020
[388]	train-logloss:0.26091	eval-logloss:0.28019
[389]	train-logloss:0.26083	eval-logloss:0.28021
[390]	train-logloss:0.26075	eval-logloss:0.28021
[391]	train-logloss:0.26066	eval-logloss:0.28021
[392]	train-logloss:0.26060	eval-logloss:0.28018
[393]	train-logloss:0.26058	eval-logloss:0.28019
[394]	train-logloss:0.26057	eval-logloss:0.28021
[395]	train-logloss:0.26056	eval-logloss:0.28022
[396]	train-logloss:0.26047	eval-logloss:0.28025
[397]	train-logloss:0.26041	eval-logloss:0.28019
[398]	train-logloss:0.26034	eval-logloss:0.28022
[399]	train-logloss:0.26030	eval-logloss:0.28026

In [59]:
pred_probs = xgb_model.predict(dtest)
print('predict() 수행 결과값을 10개만 표시, 예측 확률값으로 표시됨')
print(np.round(pred_probs[:10], 3))

preds = [1 if x > 0.5 else 0 for x in pred_probs]

predict() 수행 결과값을 10개만 표시, 예측 확률값으로 표시됨
[0.505 0.374 1.    0.951 1.    1.    0.221 1.    1.    1.   ]

In [60]:
from sklearn.metrics import accuracy_score, recall_score, precision_score, confusion_matrix
def get_clf_eval(y_test, pred):
    confusion = confusion_matrix(y_test, pred)
    accuracy = accuracy_score(y_test, pred)
    precision = precision_score(y_test, pred)
    recall = recall_score(y_test, pred)
    print('오차행렬')
    print(confusion)
    print('정확도: {0:.4f}, 정밀도: {1:.4f}, 재현율: {2:.4f}'.format(accuracy, precision, recall))

In [61]:
get_clf_eval(y_test, preds)

오차행렬
[[1930  469]
 [ 635 4507]]
정확도: 0.8536, 정밀도: 0.9057, 재현율: 0.8765

In [62]:
new = pd.read_csv('human_new.csv', encoding='cp949')
new.head()

,아이디,나이,노동 계급,fnlwgt,학력,교육 수,혼인 상태,직업,관계,인종,자본 이득,자본 손실,주당 시간,모국
0,H00001,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,0,0,40,United-States
1,H00002,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,0,0,50,United-States
2,H00003,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,0,0,40,United-States
3,H00004,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,7688,0,40,United-States
4,H00005,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,0,0,30,United-States

In [63]:
X_train.head()

       나이  노동 계급  fnlwgt  학력  교육 수  혼인 상태  직업  관계  인종  자본 이득  자본 손실  주당 시간  모국
23269  35      2  297485   9    13      0   3   4   4      0      0     40  38
18129  44      2  172032   8    11      2   0   0   4   7298      0     51  38
16236  27      2  472070   8    11      4   6   1   4      0      0     40  38
698    30      2  189620   9    13      4   9   3   4      0      0     40  30
19661  18      2  123714   1     7      4   5   1   2      0      0     40  38

In [64]:
from sklearn.impute import SimpleImputer
imputer_con = SimpleImputer(strategy="most_frequent")  
con = ['노동 계급', '학력', '혼인 상태', '직업', '관계', '인종', '모국']
imputer_con.fit(new[con])

SimpleImputer(strategy='most_frequent')

In [65]:
x = imputer_con.transform(new[con])
x

array([[' Private', ' 11th', ' Never-married', ..., ' Own-child',
        ' Black', ' United-States'],
       [' Private', ' HS-grad', ' Married-civ-spouse', ..., ' Husband',
        ' White', ' United-States'],
       [' Local-gov', ' Assoc-acdm', ' Married-civ-spouse', ...,
        ' Husband', ' White', ' United-States'],
       ...,
       [' Private', ' Masters', ' Never-married', ..., ' Not-in-family',
        ' White', ' United-States'],
       [' Private', ' Masters', ' Married-civ-spouse', ..., ' Husband',
        ' White', ' United-States'],
       [' Private', ' Masters', ' Married-civ-spouse', ..., ' Husband',
        ' White', ' United-States']], dtype=object)

In [66]:
new[con] = x
new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16281 entries, 0 to 16280
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   아이디     16281 non-null  object
 1   나이      16281 non-null  int64
 2   노동 계급   16281 non-null  object
 3   fnlwgt  16281 non-null  int64
 4   학력      16281 non-null  object
 5   교육 수    16281 non-null  int64
 6   혼인 상태   16281 non-null  object
 7   직업      16281 non-null  object
 8   관계      16281 non-null  object
 9   인종      16281 non-null  object
 10  자본 이득   16281 non-null  int64
 11  자본 손실   16281 non-null  int64
 12  주당 시간   16281 non-null  int64
 13  모국      16281 non-null  object
dtypes: int64(6), object(8)
memory usage: 1.7+ MB

In [67]:
new.isnull().sum()

아이디       0
나이        0
노동 계급     0
fnlwgt    0
학력        0
교육 수      0
혼인 상태     0
직업        0
관계        0
인종        0
자본 이득     0
자본 손실     0
주당 시간     0
모국        0
dtype: int64

In [68]:
new.shape

(16281, 14)

In [69]:
X_train.shape

(22621, 13)

In [70]:
new.isnull().sum()

아이디       0
나이        0
노동 계급     0
fnlwgt    0
학력        0
교육 수      0
혼인 상태     0
직업        0
관계        0
인종        0
자본 이득     0
자본 손실     0
주당 시간     0
모국        0
dtype: int64

In [71]:
obj1 = ['노동 계급', '학력', '혼인 상태', '직업', '관계', '인종', '모국']
new[obj1] = new[obj1].apply(lambda x: x.astype('category').cat.codes)
new.head()

,아이디,나이,노동 계급,fnlwgt,학력,교육 수,혼인 상태,직업,관계,인종,자본 이득,자본 손실,주당 시간,모국
0,H00001,25,3,226802,1,7,4,6,3,2,0,0,40,37
1,H00002,38,3,89814,11,9,2,4,0,4,0,0,50,37
2,H00003,28,1,336951,7,12,2,10,0,4,0,0,40,37
3,H00004,44,3,160323,15,10,2,6,0,2,7688,0,40,37
4,H00005,18,3,103497,15,10,4,9,3,4,0,0,30,37

In [72]:
ndf = new.copy()
ndf.head()

,아이디,나이,노동 계급,fnlwgt,학력,교육 수,혼인 상태,직업,관계,인종,자본 이득,자본 손실,주당 시간,모국
0,H00001,25,3,226802,1,7,4,6,3,2,0,0,40,37
1,H00002,38,3,89814,11,9,2,4,0,4,0,0,50,37
2,H00003,28,1,336951,7,12,2,10,0,4,0,0,40,37
3,H00004,44,3,160323,15,10,2,6,0,2,7688,0,40,37
4,H00005,18,3,103497,15,10,4,9,3,4,0,0,30,37

In [73]:
ndf['성별'] = tree.predict(ndf.loc[:,'나이':'모국'])
ndf.head()

,아이디,나이,노동 계급,fnlwgt,학력,교육 수,혼인 상태,직업,관계,인종,자본 이득,자본 손실,주당 시간,모국,성별
0,H00001,25,3,226802,1,7,4,6,3,2,0,0,40,37,1
1,H00002,38,3,89814,11,9,2,4,0,4,0,0,50,37,1
2,H00003,28,1,336951,7,12,2,10,0,4,0,0,40,37,1
3,H00004,44,3,160323,15,10,2,6,0,2,7688,0,40,37,1
4,H00005,18,3,103497,15,10,4,9,3,4,0,0,30,37,0

In [74]:
#df_tr.loc[df_tr['노동 계급'] == ' ?', '노동 계급'] = np.nan
#ndf.loc[ndf['성별']==1,'성별'] = 'Male'
#ndf.loc[ndf['성별']==0,'성별'] = 'Female'
#ndf.head()

In [75]:
dtest_ndf = xgb.DMatrix(data=ndf.loc[:,'나이':'모국'])

In [76]:
ndf['성별'] = xgb_model.predict(dtest_ndf)

In [77]:
ndf.head()

,아이디,나이,노동 계급,fnlwgt,학력,교육 수,혼인 상태,직업,관계,인종,자본 이득,자본 손실,주당 시간,모국,성별
0,H00001,25,3,226802,1,7,4,6,3,2,0,0,40,37,0.786478
1,H00002,38,3,89814,11,9,2,4,0,4,0,0,50,37,0.999972
2,H00003,28,1,336951,7,12,2,10,0,4,0,0,40,37,0.999950
3,H00004,44,3,160323,15,10,2,6,0,2,7688,0,40,37,0.999967
4,H00005,18,3,103497,15,10,4,9,3,4,0,0,30,37,0.458718

In [78]:
str = ['아이디','성별']
ndf[str].head()

      아이디        성별
0  H00001  0.786478
1  H00002  0.999972
2  H00003  0.999950
3  H00004  0.999967
4  H00005  0.458718

In [79]:
#ndf[str].to_csv('sampleSubmission_human.csv', encoding='cp949', index=False)

In [80]:
#movie_rename = movie.rename(index={0:'아바타'}, columns={'color':'색깔','director_name':'감독이름'})
ndf_rename = ndf.rename(columns={'아이디':'ID', '성별':'SEX'})
ndf_rename.head()

,ID,나이,노동 계급,fnlwgt,학력,교육 수,혼인 상태,직업,관계,인종,자본 이득,자본 손실,주당 시간,모국,SEX
0,H00001,25,3,226802,1,7,4,6,3,2,0,0,40,37,0.786478
1,H00002,38,3,89814,11,9,2,4,0,4,0,0,50,37,0.999972
2,H00003,28,1,336951,7,12,2,10,0,4,0,0,40,37,0.999950
3,H00004,44,3,160323,15,10,2,6,0,2,7688,0,40,37,0.999967
4,H00005,18,3,103497,15,10,4,9,3,4,0,0,30,37,0.458718

In [81]:
str = ['ID','SEX']
ndf_rename[str].head()

       ID       SEX
0  H00001  0.786478
1  H00002  0.999972
2  H00003  0.999950
3  H00004  0.999967
4  H00005  0.458718

In [84]:
ndf_rename[str].to_csv('submission_human4.csv', encoding='cp949', index=False)

In [85]:
ndf_rename.shape

(16281, 15)